---
import type { Post } from "../../data/posts";

interface Props extends Post {
  baseUrl: string;
}

const props = Astro.props as Props;
---

<div
  class="flex flex-col pl-2 border-l-1 border-[#14e95862] hover:border-[#14e956]"
>
  <span class="text-[#14e956] font-(family-name:--roboto)">{props.date}</span>
  <a
    href={`/post/${props.baseUrl}/${props.url}`}
    class="text-black dark:text-white hover:text-gray-600 dark:hover:text-gray-400 transition"
  >
    📄 {props.title}
  </a>
  <p class="text-gray-800 dark:text-gray-300 font-(family-name:--roboto)">
    {props.description}
  </p>
</div>
